/* Fonts:
font-family: 'PT Sans', sans-serif;
font-family: 'Titillium Web', sans-serif; */

/* colors:
Ebony Clay #1F2F38
Steel Blue #467FA8
Glacier #73B0CA
Empress #8B8084
*/

body {
    max-width: 100vw;
    width: 100vw;
    min-height: -webkit-fill-available;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-image {
    background-color: #FFF;
}

.mainpage-bg h1 {
    color: #1F2F38;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 90%;
    padding-top: 40vh;
    padding-left: 8vw;
}

.mainpage-login {
    z-index: 1;
}

.mainpage-login button{
    padding: 20px;
}

.navbar {
    margin: 3rem 0rem 15%;
}

.login-form {
    visibility: visible;
    position: relative;
    top: 5%;
}

.register-form {
    visibility: collapse;
    position: relative;
    top: 11%;
}

.flash-message {
    padding-top: 10rem;
    color: #73B0CA;
    text-align: center;
}

.login-form form input, .register-form form input{
    margin-bottom: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    width: 100%;
    color: #FFF;
  }
  
  .login-form form input[type=submit], .register-form form input[type=submit] {
    margin-top: 0.75rem;
    padding: 10px;
    background: solid;
    background-color: #1F2F38;
    color: #FFF;
    border: solid;
    border: 1px;
  }

  .aeroplane {
      position: relative;
      bottom: 25rem;
      left: 25vw;
      z-index: 0;
  }

  .aeroplane img {
      position: absolute;
      max-width: 75%;
      height: auto;
  }

  @media only screen and (max-width: 765px) {
    .mainpage-bg h1 {
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 10vh;
        padding-left: 0;
    }
    
    .aeroplane {
        display: none;
    }
  }
