{% extends "dashboard_layout.html" %}

{% block title %}
    Account Settings
{% endblock %}

{% block script %}

  <script>
    function showEditPassword() {
        var x = document.getElementById("edit-password-form");
        var y = document.getElementById("delete-account-form");
        var messages = document.getElementsByClassName("flash-message")[0];
        x.style.visibility = "visible";
        y.style.visibility = "collapse";
        messages.style.visibility = "collapse";
        }

    function showDeleteAccount() {
        var x = document.getElementById("edit-password-form");
        var y = document.getElementById("delete-account-form");
        var messages = document.getElementsByClassName("flash-message")[0];
        x.style.visibility = "collapse";
        y.style.visibility = "visible";
        messages.style.visibility = "collapse";
    }
  </script>

{% endblock %}

{% block main %}
    <!-- Right part - options -->
    <div class="container-fluid p-0 scrollable">
      <div class="row w-100 h-100 m-0">
        <div class="col-6">
          <div class="account_settings_buttons">
            <button class="btn btn-outline-dark" type="button" onclick="showEditPassword()">Change Password</button>
            <br>
            <button class="btn btn-outline-dark" type="button" onclick="showDeleteAccount()">Delete Account</button>
          </div>
        </div>

        <!-- Left part - forms -->
        <div class="col-6 bg-dark account_forms">

          <!--  EDIT PASSWORD FORM  -->
          <div class="edit-password-form container-fluid justify-content-center" id="edit-password-form">
            <h2>Change Password</h2>
            <form class="container-fluid justify-content-center" method="POST">
                {{ edit_password_form.csrf_token }}
                {{ edit_password_form.hidden_tag() }}
                <table class="table table-borderless table-dark justify-content-center">
                    <tbody>
                        <tr>
                            <td>{{ edit_password_form.old_password.label }}</td>
                            <td>{{ edit_password_form.old_password }}</td>
                        </tr>
                        <tr>
                            <td>{{ edit_password_form.new_password.label }}</td>
                            <td>{{ edit_password_form.new_password }}</td>
                        </tr>
                        <tr>
                            <td>{{ edit_password_form.confirm_password.label }}</td>
                            <td>{{ edit_password_form.confirm_password }}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>{{ edit_password_form.submit }}</td>
                        </tr>
                    </tbody>
                </table> 
            </form>
        </div>
        
        <!--  DELETE ACCOUNT FORM  -->
        <div class="delete-account-form container-fluid justify-content-center" id="delete-account-form">
            <h2>Delete Account</h2>
            <p>Are you sure you want to delete your account? This operation is irreversible.</p>
            <p>Confirm deletion by entering your password</p>
            <form class="container-fluid justify-content-center" method="POST">
                {{ delete_account_form.csrf_token }}
                {{ delete_account_form.hidden_tag() }}
                <table class="table table-borderless table-dark">
                <tr>
                    <td>{{ delete_account_form.confirm_password.label }}</td>
                    <td>{{ delete_account_form.confirm_password }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>{{ delete_account_form.submit }}</td>
                </tr>
                </table>
            </form>
        </div>

        <!-- flash messages -->
        <div class="flash-message container-fluid justify-content-center">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                      <p>{{ message }}</p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
      
      </div>
    </div>
{% endblock %}