{% extends "dashboard_layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
  <div class="container-fluid p-0 scrollable">
    <div class="row w-100 m-0">
        <div class="col-md-5">
            <div class="dashboard-img">
            <img src="/static/images/abstract4.png" width="200px" height="200px"></img>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="dashboard-text justify-content-center">
            <h1>HI, {{ current_user.username | upper }}!</h1>
            <h2>CHECK OUT WHAT IS GOING ON IN THE PROJECT</h2>
            </div>
        </div>
    </div>
    <div class="row w-100 m-0">
        <div class="col-12">
            <div class="dashboard-table">
            <table class="table table-hover table-responsive tableFixHead" >
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Safety Date Receipt</th>
                      <th scope="col">Day 0</th>
                      <th scope="col">Case Version</th>
                      <th scope="col">Case ID</th>
                      <th scope="col">Other Case Identifiers</th>
                      <th scope="col">Seriousness</th>
                      <th scope="col">Listedness</th>
                      <th scope="col">Expedited Reporting</th>
                      <th scope="col">Exchange with Partners</th>
                    </tr>
                  </thead>
                  <tbody>   
                    {% for report in reports %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('report', id=report.id ) }}">{{ report.id }}</a></th>
                        <td>{{ report.date_received }}</td>
                        <td>{{ report.day_zero }}</td>
                        <td>{{ report.case_version }}</td>
                        <td>{{ report.case_id }}</td>
                        <td>{{ report.other_case_id }}</td>
                        <td>{{ report.serious }}</td>
                        <td>{{ report.listed }}</td>
                        <td>{{ report.expedited }}</td>
                        <td>{{ report.exchange }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            </div>
        </div>
    </div> 
  </div>
{% endblock %}