{% extends "dashboard_layout.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
  <div class="container-fluid p-0 scrollable edit-task">
    <div class="row w-100 h-100 m-0">
      <div class="col-6">    
        <h2>EDIT TASK</h2>
            <form class="form form-horizontal center" method="post" role="form">
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              <table class="table table-borderless table-sm">
                <tr>
                  <td>{{ form.task_name.label }}</td>
                  <td>{{ form.task_name }}</td>
                </tr>
                <tr>
                  <td>{{ form.task_owner.label }} </td>
                  <td>{{ form.task_owner }}</td>
                </tr>
                <tr>
                  <td>{{ form.due_date.label }}</td>
                  <td>{{ form.due_date }}</td>
                </tr>
                <tr>
                  <td>{{ form.task_comments.label }}</td>
                  <td>{{ form.task_comments }}</td>
                </tr>
                <tr>
                  <td>{{ form.completed.label }}</td>
                  <td>{{ form.completed }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>{{ form.submit }}</td>
                </tr>
                </form>
                <tr>
                  <td></td>
                  <td>
                    <form action="{{ url_for('delete_task', task_id=task.id) }}" method="get">
                    <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete Task"></input>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
    </div>
  </div>
{% endblock %}